:root {
  --blue: #0D47A1;
}


html, body {
    height: 100vh;
    width: 100%;
    margin: 0;
    overflow: hidden;
}

body {
    background-color: #2196F3;
}

.center-div {
     position: absolute;
     margin: auto;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
}

#container {
    padding: 10px;
    width: 70%;
    height: 60%;
    text-align: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: white;
}

#quote-holder {
    font-size: 40px;
}

.md-button {
    width: 60%;
    background-color: transparent;
    border: dotted 1px var(--blue);
    color: var(--blue);
    padding: 20px;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    font-size: 20px;
    border-radius: 20px;
}

.md-button:hover {
    background-color: #1E88E5;
}

#download-link {
    font-size: 12px;
    color: var(--blue);
    text-decoration: none;
}